

/* Estilos del Bloque SubPrincipal - 1 */

.Bloque_Sub_Principal{

}
.Bloque_Sub_Principal .Botones{
    padding: 5px 10px;
}
.Bloque_Sub_Principal .Botones .Selects option{
    cursor: pointer;
    padding: 0px 5px;
}
.Bloque_Sub_Principal .Botones .Selects{
    background-color: white;
    color: black;
    padding: 12px;
    min-width: 300px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
/* Estilos del Bloque SubPrincipal - 2 */
.Bloque_Sub_Principal_2{

    height: 450px;
    width: 100%;
    min-width: 320px;
}
.Bloque_Sub_Principal_2 .Cont_Seccion{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bloque_Sub_Principal_2 .Seccion{
    display: inline-block;
    min-width: 320px;
    margin: 5px 5px;
    width: 48%;
}
.Bloque_Sub_Principal_2 .Seccion_1{
    background-color: white;
    border-radius: 10px;
    height: 100%;
    display: flex;
    padding: 190px 0px;
    justify-content: center;
    align-items: center;
}
.Bloque_Sub_Principal_2 .Seccion_1 div{
    text-align: center;
}
.Bloque_Sub_Principal_2 .Seccion_2 .Contenedor_Columnas .Columnas{
    
    display: inline-block;
    width: 48%;
}

.Bloque_Sub_Principal_2 .Seccion_2 .Contenedor_Columnas .Columnas .Cardviews{

    background-color: white;
    padding: 40px 0px;
    text-align: center;
    border-radius: 10px;
    margin: 40px 0px;

}


.Bloque_Sub_Principal_2 .Seccion_2 .Contenedor_Columnas .Columnas .Cardviews .Cont_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bloque_Sub_Principal_2 .Seccion_2 .Contenedor_Columnas .Columnas .Cardviews .Cont_1 svg{

    width: 30px;
    height: 30px;

}
/*Estilos del Bloque Sub Principal 3*/
.Bloque_Sub_Principal_3 .Cont_Seccion{
    min-width: 320px;
    height: 400px;
    background-color: white;
    margin: 0px 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px 5px;
    display: flex;
}

.Bloque_Sub_Principal_3 .Cont_Seccion .Secciones{
    width: 50%;
}
.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2{

    display: flex;
    justify-content: center;
    align-items: center;

}

.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido{


}

.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos{
    display: flex;
    margin: 10px 0px;
}
.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos .CantidadGrafica{
    max-width: 400px;
    min-width: 300px;
    margin: 0px 5px;
    border-radius: 20px;

}
.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos .CantidadGrafica{
    max-width: 400px;
    min-width: 300px;
    margin: 0px 5px;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}

.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos .CantidadGrafica .Dato{
    height: 100%;
    border-radius: 20px;
    position: absolute;


}
.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos .CantidadGrafica .Cantidad_Base{
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.142);

}
.Bloque_Sub_Principal_3 .Cont_Seccion .Seccion_2 .Contenido .Datos .CantidadGrafica .Cantidad_Extraida{
    width: 50%;
    z-index: 3;
    background-color: #273238;
}

/*--------------------Bloque Sub Principal 4-----------------------------*/
.Bloque_Sub_Principal_4{
    margin-bottom: 50px;
}
.Bloque_Sub_Principal_4 .Cont_Seccion{
    justify-content: center;
    align-self: center;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas{
    min-width: 290px;
    width: 100%;
    max-width: 23%;
    display: inline-block;
    padding: 0px 10px;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato{
    background-color: white;
    border-radius: 20px;
    margin: 25px 0px;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos{
}

.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_1{
    padding: 20px;
    text-align: center;
}

.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_2{
    padding: 15px;
    text-align: center;
}

.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_3{
    padding: 10px;
    display: flex;
    color: white;
    border-radius: 0px 0px 20px 20px;
    background-color: #273238;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_3 .Seccion_1{
    width: 33%;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_3 .Seccion_2{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bloque_Sub_Principal_4 .Cont_Seccion .Columnas .CardViewDato .Datos_3 .Seccion_3{
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}