/*-----Barra de arriba-----*/

.header_BarraDeNavegacionDeArriba{
    width: auto;
    padding: 0px;
    margin: 0px;
    height: 67px;
    background-color: #cf152d;
}


.label-IconoDesplegarMenu{

    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_BarraDeNavegacionDeArriba svg{
    
    fill: white;
    height: 50px;
    width: 50px;
}
/*-----------CuerpoDelaPagina(Body)---------*/
