/*---------------Menu lateral-------------*/
#boton_desplegarMenu{
    display: none;
}
#boton_desplegarMenu:checked ~ .BloqueLateral{
    opacity: 1;
    visibility: visible;
}
#boton_desplegarMenu:checked ~ .BloqueLateral .BloqueLateral-Contenedor{
    transform: translateX(0%);
}
.BloqueLateral{
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #000000a5;
    height: 100%;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.BloqueLateral label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.BloqueLateral-Contenedor{
    width: 100%;
    max-width: 300px;
    background: white;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
.BloqueLateral-Contenedor .Navegador_Lateral{
    width: 100%;
}


.Navegador_Lateral .contenedorDePerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.Navegador_Lateral .contenedorDePerfil > *{

    margin: 0px 10px;
    fill: #D61F31;
    font-family: Montserrat_Bold;
}
.Navegador_Lateral li{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin: 10px 5px;
    fill: #D61F31;
    padding: 0px 10px;
}
.Navegador_Lateral li:hover{
    background-color: #D61F31;
    border-radius: 15px;
    color: #fff;
    fill: white;

}
.Navegador_Lateral svg{
    max-width: 50px;
    max-height: 50px;
}

.Navegador_Lateral a{
    text-decoration: none;
    color: #D61F31;
    width: 100%;
    text-align: center;
    font-family: Montserrat_SemiBold;

}
.Navegador_Lateral a:hover{
    color: white;
}
.Navegador_Lateral hr{
    margin: 20px 10px;

}