@font-face{
    font-family: "Ubuntu";
    src: url('../Fuentes/Ubuntu/Ubuntu-Medium.ttf') format('truetype');}

@font-face{
    font-family: "Open_Sans";
    src: url('../Fuentes/Open_Sans/static/OpenSans/OpenSans-Medium.ttf') format('truetype');}

    
@font-face{
    font-family: "Ubuntu_Bold";
    src: url('../Fuentes/Ubuntu/Ubuntu-Bold.ttf') format('truetype');}

@font-face{
    font-family: "Open_Sans_Bold";
    src: url('../Fuentes/Open_Sans/static/OpenSans/OpenSans-Bold.ttf') format('truetype');}

/* Estilos del Bloque SubPrincipal 1*/
.Bloque_SubPrincipal_1{
    width: 100%;
    display: flex;
}
.DivDatoExtraido{
    width: 25%;
    margin-bottom: 5px;
    padding: 5px
}
.DivDatoExtraido hr{

    margin: 0px 30px;
}
.Bloque_SubPrincipal_1 .DivDatoExtraido .ContenedorIcono{
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.Bloque_SubPrincipal_1 .DivDatoExtraido .TextResultados{
    font-family: Montserrat_SemiBold;
    font-size: large;
    margin: 10px;
}
.Bloque_SubPrincipal_1 .DivDatoExtraido .TextTitulos{
    padding: 5px;
    font-size: small;
    font-family: Montserrat_SemiBold;
    color: black;
}

.Bloque_SubPrincipal_1 .DivDatoExtraido .TextTitulos_Bold{
    padding: 5px;
    font-size: small;
    font-family: Open_Sans;
    cursor: pointer;
    color: #7B7B7B;
}
.Bloque_SubPrincipal_1 .DivDatoExtraido .ContenedorIcono svg{
    fill: white;
    margin: 10px;
    width: 30px;
    height: 30px;
}
.divContenedorDatosExtraidos_BloquePrincipal1{
    background-color: white;
    height: 100%;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.221);
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
}
.divContenedorDatosExtraidos1_1{
    height: fit-content;
}
.divContenedorDatosExtraidos1_1 div{
    height: 33%;
}
/* Estilos del Bloque SubPrincipal_1_2*/

.Bloque_SubPrincipal_1_2{

    margin: 20px 5px;

}
.Bloque_SubPrincipal_1_2 .Contenido{
    display: flex;
}

.Bloque_SubPrincipal_1_2 .Tabla{
    
    min-width: 320px;
    width: 50%;
}
.Bloque_SubPrincipal_1_2 .DivConlaTabla{

    background-color: white;
    border-radius: 20px;
    overflow: auto;
    
    box-shadow: 0px 5px rgba(0, 0, 0, 0.221);

}
.Bloque_SubPrincipal_1_2 .TablaMadre{
    width: 100%;
    min-width: 320px;
}
.Bloque_SubPrincipal_1_2 .TablaMadre_SubTabla_1{

    min-width: 320px;
    width: 100%;
}
.Bloque_SubPrincipal_1_2 .TablaMadre_SubTabla_1 tr{
    color:black;
    justify-content: center;
    
}
.Bloque_SubPrincipal_1_2 .Div_DeLa_SubTabla{
    width:100%;
    min-width: 320px; 
    height:200px; 
    overflow:auto;
    text-align: center;
}
.Bloque_SubPrincipal_1_2 .SubTabla{
    width: 100%;
    min-width: 320px;
}
.Bloque_SubPrincipal_1_2 .DivConlaTabla th{

    box-shadow: 0px 2px rgba(43, 43, 43, 0.379);
}
.Bloque_SubPrincipal_1_2 .DivConlaTabla td{

    text-align: center;
    padding: 7px 0px;
}
.Bloque_SubPrincipal_1_2 .Div_DeLa_SubTabla tr:hover{
    background-color: rgba(0, 0, 0, 0.045);
    box-shadow: 0px 2px rgba(150, 0, 0, 0.778);

}
.Bloque_SubPrincipal_1_2 .DivConlaTabla .DivConTexto{

    padding-bottom: 10px;
    padding-top: 10px;
    
}
.Bloque_SubPrincipal_1_2 .DivConlaTabla .DivConTexto p{
    

    padding-right: 40px;
}


.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas{
    width: 50%;
    margin: 0px 5px;

}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas .Cardview{
    background-color: white;
    padding: 30px;
    margin: 5px 0px;
    border-radius: 15px;

}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas .Cardview .Txt_Titulo{
    font-family: Open_Sans;


}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas .Cardview .Seccion{
    display: flex;
    position: relative;
    z-index: 1;

}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas .Cardview .Seccion p{

    font-family: Open_Sans_SemiBold;
    font-size: xx-large;

}
.Bloque_SubPrincipal_1_2 .Contenido .DatosExtraidos .Columnas .Cardview .Seccion svg{

    position: absolute;
    right: 0;
    width: 40px; 
    height: 40px;

}
/* Estilos del Bloque SubPrincipal 2*/

.Bloque_SubPrincipal_2{


    min-width: 320px;
    width: 100%;
    margin-bottom: 50px;
}
.Bloque_SubPrincipal_2 .DivConlaTabla{

    background-color: white;
    border-radius: 20px;
    overflow: auto;
    
    box-shadow: 0px 5px rgba(0, 0, 0, 0.221);

}
.TablaMadre{
    width: 100%;
    min-width: 320px;
}
.TablaMadre_SubTabla_1{

    min-width: 320px;
    width: 100%;
}
.TablaMadre_SubTabla_1 tr{
    color:black;
    justify-content: center;
    
}
.Div_DeLa_SubTabla{
    width:100%;
    min-width: 320px; 
    height:200px; 
    overflow:auto;
    text-align: center;
}
.SubTabla{
    width: 100%;
    min-width: 320px;
}
.Bloque_SubPrincipal_2 .DivConlaTabla th{

    box-shadow: 0px 2px rgba(43, 43, 43, 0.379);
}
.Bloque_SubPrincipal_2 .DivConlaTabla td{

    text-align: center;
    padding: 7px 0px;
}
.Bloque_SubPrincipal_2 .Div_DeLa_SubTabla tr:hover{
    background-color: rgba(0, 0, 0, 0.045);
    box-shadow: 0px 2px rgba(150, 0, 0, 0.778);

}
.Bloque_SubPrincipal_2 .DivConlaTabla .DivConTexto{

    padding-bottom: 10px;
    padding-top: 10px;
    
}
.Bloque_SubPrincipal_2 .DivConlaTabla .DivConTexto p{
    

    padding-right: 40px;
}
